.LoginPageWrapper {
    height: 100%;
    background: linear-gradient(90deg, rgba(236, 236, 245, 1) 27%, rgba(206, 227, 231, 1) 100%);
    margin: auto;
}

.LoginPage {
    height: 300px;
    margin: auto;
    display: block;
    max-width: 360px;
    text-align: center;
    padding: 140px 0;

    .Header {
        height: 50px;

        .HeaderText {
            float: left;
            font-family: "Comic Sans MS", sans-serif;
            color: #445a7d;
            font-size: 32px;
            font-weight: bolder;
        }

        .Signup {
            &:hover {
                cursor: pointer;
                color: #0096FF;
            }

            float: right;
            color: #73809C;
            font-size: 14px;
            margin-top: 18px;
            font-weight: bolder;
        }

        .Login {
            &:hover {
                cursor: pointer;
                color: #0096FF;
            }

            float: right;
            margin-left: 8px;
            color: #73809C;
            font-size: 14px;
            margin-top: 18px;
            font-weight: bolder;
        }
    }
}

@media(max-width: 1023px) {
    .LoginPage {
        padding: 45% 0;
    }
}