.TextField {
    height: unset;
    width: 100%;
    display: flex;

    .TextField-Input {
        width: 100%;
        padding: 6px;
        font-size: 16px;
        font-weight: 600;
        color: #333;

        outline: none;
        border: 1px solid #999;
        border-radius: 4px;

        &::placeholder {

            font-size: 14px;

            font-family: "Comic Sans MS", sans-serif;

            color: #aaaaaa;
        }
    }
}